*, *::before, *::after {
  box-sizing: border-box;
}


h1 {
  /* Typography */
  font-size: 50px;
}

p, h1, .results, form  {
  /* Positioning */
  text-align: center;
   /* Typography */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  /* Positioning */
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

#quiz-container {
  /* Positioning */
  width: 100%;
}
.question {
  /* Positioning */
  float: top;
}

.btn-grid {
  /* Positioning */
  display: grid;
  grid-template-columns: repeat(1, auto);
}

.choice {
  /* Visual */
  color: blue;
}

.link {
  /* Positioning */
  position: absolute;
  top: 20px;
  left: 70px;
   /* Visual */
  color: blue;
}

.timer  {
  /* Positioning */
  position: absolute;
  top: 20px;
  right: 70px;
   /* Visual */
  color: blue;
}

.prog {
  /* Positioning */
  padding: 10px;
  border-top: 1px solid lightgray;
  text-align: center;
   /* Typography */
  font-family: cursive;
}



